@media screen and (max-width: 600px) {
    body{
       display: block;
       width: 27pc auto;
       height: 100px;
    }
}

@media screen and (max-width: 600px) {
    table ,td{
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        width: 100% auto;
    }
}

@media screen and (max-width: 600px) {
    .conteiner{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        width: 15pc auto;
    }
}

@media screen and (max-width: 600px) {
    .selectm{
        display: flex;
        width: 10pc;
    }

}

@media screen and (max-width: 600px) {
   .btnLimp{
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .btninput{
        display: flex;
        width: 200px ;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    label{
        display: block;
    }
    
}

@media screen and (max-width: 600px) {
    .inputfp{
        width: 11pc auto;
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        outline: none;
    }
    
}