html,body{ margin: 0; background-image: url(Arte.jpg);}

*{
    font-family: sans-serif;
}

header{
    display: flex;
    margin: 1px;
    background-color:transparent;
    justify-content: center;
    align-items: center;
}


h4{
    font-size: 22px;
    margin: 10px;
    color: white;
}


.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 20pc;
    height: 15pc;
    border: solid 1px;
    border-radius: 20px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.page:hover{
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

input{
        margin: 10px auto;
        padding: 8px;
        border-radius: 10px;
        border: none;
        outline: none;
      }
    
    input:hover{
        border-color: 0 10px 30px rgb(255, 255, 255);
    }

.usuario-test{
    display: flex;
    position: fixed;
    bottom: 20px; /* Distância da parte inferior da tela */
    right: 20px; /* Distância do lado direito da tela */
    z-index: 1000;
}