@media screen and (max-width: 600px) {
    body{
       display: block;
       width: 0pc auto;
       height: 0px;
       margin: 0;
    }
}


@media screen and (max-width: 600px) {
    .main-center{
        width: 255px;
        margin: 0px;
        display: block;
        justify-content: center;

    }
}