body{
    margin: 0;
}

h2{
    width: 100px;
}

input{
    margin: 0;
    width: 100px;
    transform: scale(1.4);
    cursor: pointer;    
}

button{
    transition: all 0.3s ease;
}

button:hover{
    box-shadow: 0 10px 30px rgba(0, 217, 255, 0.1);
}

.main-center{
    width: 100vw;
    height: 100vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-left{
    width: 900px;
    height: 10vh;
    padding: auto;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.main-linha{
    display: flex;
    margin: 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.main{
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.main :hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.BtnSalva{
    border: solid 1px #00ffbf;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.btnApagar{
    border: solid 1px #ff0000;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.main-linhanone{
    display: flex;
    margin: 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
