@media screen and (max-width: 600px) {
    body{
       display: block;
       width: 0pc auto;
       height: 0px;
       margin: 0;
    }
}

@media screen and (max-width: 600px) {
    table ,td{
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .header{
        display: block;
        width: 100% auto;
    }
}

@media screen and (max-width: 600px) {
    .conteiner{
        display: block;
        position: relative;
        top: 0;
        left: -260px; /* Valor inicial fora da tela */
        width: 250px;
        background-color: #ffffff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        animation: slideIn 0.5s forwards;
    }
}

@keyframes slideIn {
    to {
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    .selectm{
        display: flex;
        width: 10pc;
    }

}

@media screen and (max-width: 600px) {
   .btnLimp{
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .btninput{
        display: flex;
        width: 200px ;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    label{
        display: block;
    }
    
}

@media screen and (max-width: 600px) {
    .inputfp{
        width: 11pc auto;
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        outline: none;
    }
    
}

@media screen and (max-width: 600px) {
    .Esconder{
        display: flex;
        width: 2pc;
        height: 2px;
        padding: 2px;
        border: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}